body {
  background-color: #e49090;
  background-image: url([object Object]);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #fff;
  font: 1.8em; }

